body{
    background-color:#E9ECEF;
}

/* Navbar Bölümü */
header>nav.navbar>div>a{
    font-size: 30px;
    font-weight:bold;
}
ul#navbar > li>a{
    font-size: 18px;
}

/* jumbotron */
section>article>div{
   margin: 30px 0px 0px 0px;
   border-radius: 30px;
}
section>article>div#jumbo>ul{

    border-radius: 30px;
    font-weight:bold;
    padding: 20px 100px 20px 100px;
}
section>article>div#jumbo{
    border-radius: 30px;
}

hr.hr1 {
    width: 300px;
    border: 3px solid #ffffff ; 
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(61, 57, 57);
    color: white;
    text-align: center;
    font-size: 12px;
  }


 /* Urunler Sekmesi */ 

 .urunler {
     padding-top:30px ;
 }
 hr.hr2 {
     width: 300px;
     border: 3px solid #434444 ; 
 }