body{
    background-color:#E9ECEF;
}

/* Navbar Bölümü */
header>nav.navbar>div>a{
    font-size: 30px;
    font-weight:bold;
}
ul#navbar > li>a{
    font-size: 18px;
}

/* jumbotron */
section>article>div{
   margin: 30px 0px 0px 0px;
    
}
section>article>div#jumbo>ul{

    border-radius: 30px;
    font-weight:bold;
    padding: 20px 100px 20px 100px;
}
section>article>div#jumbo{
    border-radius: 30px;
}